@import './mixins';

@mixin static_about {

  #hero {
    background: $soft-grey cbw_image('about/about-hero.jpg') no-repeat 0 0;
    background-size: cover;

    header {
      @include clearfix;
      @include main_wrapper;
      position: relative;
      margin-bottom: 0;
      text-align: center;

      @media #{$smedium-query} {
        min-height: rem-calc(440);
        padding-top: rem-calc(140);
        text-align: left;
      }

      img {
        display: none;

        @media #{$large-query} {
          width: 35%;
          float: right;
          display: inline-block;
        }
      }

      h1 {
        font-size: rem-calc(24);
        font-weight: 300;
        line-height: 1.1;
        margin-bottom: rem-calc(20);
        width: 100%;
        color: $charcoal;

        @media #{$smedium-query} {
          font-size: rem-calc(40);
        }
      }

      h2 {
        color: $charcoal;
        font-weight: 300;
        font-size: rem-calc(16);
        margin: 0 0 2rem 0;
        padding-left: 0;
        line-height: 1.2;

        @media #{$smedium-query} {
          font-size: rem-calc(24);
        }
      }
    }
  }

  h3.section_title {
    @include section_title;
  }

  p {
    font-size: rem-calc(15);
  }

  #about {
    @include grid-row;
    padding: rem-calc(40) 0;
    text-align: center;

    p {
      @include grid-column(12);
      padding: 0 rem-calc(40);

      @media #{$medium-query} {
        @include grid-column(8);
        text-align: left;
      }
    }

    figure {
      padding: 0 rem-calc(40);
      margin: 0 auto rem-calc(30);
      width: 50%;

      @media #{$medium-query} {
        @include grid-column(4);
        float: right;
        margin: 0;
      }
    }
  }

  #leadership {
    @include grid-row;
    padding: rem-calc(40) 0 0;

    .lead {
      @include about_lead;
    }

    ul {
      @include roster;
    }
  }

  #board_of_directors {
    @include grid-row;
    padding: rem-calc(40) 0 0;

    .lead {
      @include about_lead;
    }

    ul {
      @include roster;
    }
  }
}

@mixin about_lead {
  @include clearfix;
  margin-bottom: rem-calc(40);
  text-align: center;

  @media #{$medium-query} {
    text-align: left;
  }

  h2 {
    margin-top: 0;

    span {
      margin-left: rem-calc(8);
      font-size: rem-calc(22);
    }
  }

  figure {
    max-width: rem-calc(270);
    margin-bottom: rem-calc(30);
    float: none;

    @media #{$medium-query} {
      @include grid-column(3);
      margin-bottom: 0;
      padding-left: 0
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .bio {
    @include clearfix;
    @include grid-column(12);
    padding: 0 rem-calc(40);

    @media #{$medium-query} {
      @include grid-column(9);
    }
  }
}

@mixin roster {
  @include clearfix;
  margin: 0;
  padding: 0;

  li {
    @include clearfix;
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: rem-calc(40);

    @media #{$smedium-query} {
      @include grid-column(6);
    }

    @media #{$medium-query} {
      @include grid-column(2.4);
      padding-left: 0;
    }

    figure {
      width: 50%;

      @media #{$medium-query} {
        width: 100%;
      }
    }

    h2 {
      float: left;
      font-size: rem-calc(20);
      margin-bottom: rem-calc(10);
      margin-top: rem-calc(20);
      width: 100%;
    }

    span {
      float: left;
      font-size: rem-calc(14);
      font-weight: 400;
      line-height: 1.25;
      width: 100%;
    }
  }
}
