@import './mixins';

@mixin static_advertise {

  .advertise_main {
    padding: rem-calc(30) 0;
    @include grid-column(12);

    @media #{$smedium-query} {
      @include grid-column(8);
    }

    .contact_us {
      @include cbanc_button;
      margin-top: rem-calc(20);
      padding-left: rem-calc(80);
      padding-right: rem-calc(80);
    }
  }
}
