@import './mixins';

@mixin static_careers {

  .main_wrapper {
    padding: rem-calc(40) 0;
  }

  #main_column {
    @include main_content;

    #openings {

      h2 {
        color: $cbanc;
      }

      p {
        font-size: rem-calc(15);
      }
    }
  }

  aside {
    @include side_content;

    h3 {
      margin-top: 0;
    }

    a {
      @include cbanc_button($size:large, $full:true);
    }
  }
}
