@import './mixins';

@mixin static_education {

  #hero {
    background: $soft-grey cbw_image('education/education-hero@x2.jpg') no-repeat center top;
    background-size: cover;

    header {
      @include clearfix;
      @include main_wrapper;
      position: relative;
      margin-bottom: 0;
      text-align: center;

      @media #{$smedium-query} {
        min-height: rem-calc(440);
        padding-top: rem-calc(80);
        text-align: left;
      }

      h1 {
        color: $white;
        font-size: rem-calc(28);
        font-weight: 300;
        line-height: 1.1;
        margin-bottom: rem-calc(20);

        @media #{$smedium-query} {
          font-size: rem-calc(40);
        }
      }

      h2 {
        color: $white;
        font-size: rem-calc(16);
        font-weight: 300;
        line-height: 1.2;
        margin: 0 0 rem-calc(20) 0;
        padding-left: 0;

        @media #{$smedium-query} {
          font-size: rem-calc(24);
          width: 80%;
        }
        @media #{$large-query} {
          font-size: rem-calc(24);
          width: 60%;
        }
      }

      a.learn_more {
        @include cbanc_button($size:large);
        padding-left: rem-calc(80);
        padding-right: rem-calc(80);
      }
    }
  }

  hr {
    @include hr;
  }

  h4.sample_webinar_headline {
    text-align: center;
    background-color: $soft_grey;
    color: $charcoal;
    font-weight: 300;
    margin: 0;
    padding: rem-calc(20) 0;
  }

  .section_title {
    @include section_title;
  }

  #sample_webinars {
    @include grid-row;
    text-align: center;
    margin-top: rem-calc(40);

    .log_in {
      padding: 3rem 1rem;
      text-align: center;
      background-color: $light_grey;
      margin-bottom: 1rem;
      color: $steel;
      font-weight: 200;

      &::before {
        @include icon(play-circle);
        color: $steel;
        text-align: center;
        display: block;
        font-size: 2rem
      }
    }

    .video {
      @include grid-column(12);
      margin-bottom: rem-calc(40);

      @media #{$large-query} {
        @include grid-column(4);
        margin-bottom: 0;
        min-height: rem-calc(520);
        text-align: left;
      }

      h3 {
        font-size: rem-calc(18);
        margin-top: 0;

        @media #{$large-query} {
          min-height: rem-calc(40);
        }
      }

      iframe {
        width: 100%;
        height: rem-calc(320);

        @media #{$smedium-query} {
          width: 50%;
        }
        @media #{$large-query} {
          width: 100%;
          height: rem-calc(200);
        }
      }
    }

    .date {
      font-weight: 300;
      font-size: rem-calc(15);
      margin-bottom: rem-calc(4);

      &::before {
        @include icon(calendar);
        margin-right: rem-calc(8);
      }
    }

    .speaker {
      font-size: rem-calc(15);
      font-weight: 300;
      margin-top: 0;

      @media #{$large-query} {
        min-height: rem-calc(80);
      }
    }

    .learn_more {
      @include cbanc_button($size:large, $color:cbanc, $ghost:true);
      width: 100%;
      margin-bottom: 0;
    }
  }

  #popular_webinars {
    @include grid-row;
    padding: rem-calc(40) 0;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        @include grid-column(12);
        margin-bottom: rem-calc(40);

        &:last-child {
          margin-bottom: 0;
        }

        @media #{$large-query} {
          @include grid-column(4);
          margin-bottom: 0;
        }

        a {
          display: inline-block;
          color: $cbanc;
          text-decoration: none;

          &.webinar {
            @include cbanc_button($color:cbanc, $ghost:true, $icon:play-circle);
            margin-bottom: 0;
            margin-top: rem-calc(20);
            width: 100%;
          }
        }

        h3 {
          font-size: rem-calc(18);
          margin: 0 0 rem-calc(20) 0;
        }

        .date {
          font-weight: 300;
          font-size: rem-calc(15);
          margin-bottom: rem-calc(4);
          &::before {
            @include icon(calendar);
            margin-right: rem-calc(8);
          }
        }

        .speaker {
          font-size: rem-calc(15);
          font-weight: 300;
          margin-top: 0;

          @media #{$large-query} {
            min-height: rem-calc(52);
          }
        }
      }
    }
  }

  #reserve_your_seat {
    @include main_wrapper;
    text-align: center;
    padding-bottom: rem-calc(40);

    h2 {
      margin-bottom: 0;
    }

    p {
      margin-top: rem-calc(10);
    }

    a {
      @include cbanc_button($size:large);
      margin-top: rem-calc(30);
      margin-bottom: 0;
      padding-left: rem-calc(80);
      padding-right: rem-calc(80);
    }
  }
}
