@import 'ui_assets/scss/index';
@import 'ui_foundation/scss/index';
@import 'ui_signature/scss/mixins';

@mixin section_title {
  background-color: $light_grey;
  clear: both;
  font-weight: 300;
  font-size: rem-calc(26);
  margin: 0;
  padding: rem-calc(40) 0;
  text-align: center;

  @media #{$medium-query} {
    font-size: rem-calc(30);
  }

  & > span {
    @include main_wrapper;
  }
}

@mixin content_section {
  position: relative;
  text-align: center;

  @media #{$medium-query} {
    text-align: left;
  }

  &.dark {
    background: #2d3139;

    * {
      color: $white;
    }
  }

  &.left {

    .feature_image {
      right: 0;
    }

    .content {
      padding-right: 0;

      @media #{$medium-query} {
        padding-right: 50%;

        .content_inner {
          padding-right: rem-calc(80);
        }
      }
    }
  }

  &.right {

    .feature_image {
      left: 0;
    }

    .content {
      padding-left: 0;

      @media #{$medium-query} {
        padding-left: 50%;

        .content_inner {
          padding-left: rem-calc(80);
        }
      }
    }
  }

  .wrapper {
    @include main_wrapper;
    position: static;

    @media #{$smedium-query} {
      &:hover {
        h2 {
          &:after {
            width: 90%;
          }
        }
      }
    }
  }

  .feature_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 50%;

    @media #{$medium-query} {
      display: block;
    }
  }

  .bookmark {
    display: inline-block;
    height: 0;
  }

  .content {
    box-sizing: border-box;

    li, p {
      font-size: rem-calc(15);
      font-weight: 300;
    }

    ul, li {
      list-style: none;
      padding-left: 0;
    }

    li {
      margin-top: rem-calc(10);

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .content_inner {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(40);
  }

  h2 {
    text-transform: uppercase;
    position: relative;
    line-height: 1.3;
    font-size: rem-calc(28);
    font-weight: 400;
    margin-bottom: rem-calc(35);

    &:after {
      content: "";
      position: absolute;
      bottom: rem-calc(-14);
      left: 50%;
      margin-left: rem-calc(-62);
      height: rem-calc(3);
      width: rem-calc(124);

      @media #{$medium-query} {
        @include transition(width, .5s, ease-in-out);
        left: 0;
        margin-left: 0;
      }
    }
  }

  .button {
    @include cbanc_button;
    font-size: rem-calc(16);
    margin-top: rem-calc(20);
    padding-left: rem-calc(80);
    padding-right: rem-calc(80);
  }
}

@mixin cbanc_quote {
  background-color: $light_grey;
  padding: rem-calc(40) 0 rem-calc(32);

  .wrapper {
    @include main_wrapper;
  }

  .quote {
    @include grid-row;

    .avatar {
      @include grid-column(2);
    }

    .details {
      @include grid-column(12);

      @media #{$medium-query} {
        @include grid-column(10);
      }
    }

    figure {
      display: none;
      border-radius: 100%;
      margin: 0;
      overflow: hidden;
      height: rem-calc(150);
      width: rem-calc(150);

      @media #{$medium-query} {
        display: inline-block;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    p {
      color: $charcoal;
      font-weight: 300;
      margin-top: rem-calc(20);
      font-size: rem-calc(22);
      margin-top: 0;
    }

    .signature {
      @include signature;
      display: block;
      color: $charcoal;
      padding: 0;

      .user_card {
        display: none;
      }

      .avatar {
        display: none;
      }

      .pubtime {
        display: none;
      }
    }
  }
}

@mixin testimonials {
  background-color: $cbanc;
  color: white;

  .wrapper {
    @include main_wrapper;
  }

  .banner {
    background: transparent;
  }

  .quotes {
    @include grid-row;

    article {
      @include grid-column(12);

      @media #{$medium-query} {
        @include grid-column(6);
      }

      .quote {
        background: white;
        color: $steel;
        padding: rem-calc(20);
        position: relative;
        min-height: rem-calc(100);
        font-size: rem-calc(15);

        &:after {
          top: 100%;
          left: 10%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-top-color: $white;
          border-width: rem-calc(14);
          margin-left: rem-calc(-10);

          @media #{$medium-query} {
            margin-left: rem-calc(-30);
          }
        }
      }

      .sig {
        @include signature;
        position: relative;
        color: white;
        margin-top: rem-calc(30);
        margin-bottom: rem-calc(50);

        .cbanc_member {
          color: white;
        }

        .signature {
          a, a:hover {
            color: white;
          }

          .user_card {
            display: none;
          }

          .avatar {

          }

          .pubtime {
            display: none;
          }
        }

        a {
          color: white;
        }
      }
    }
  }
}
