@import './mixins';

@mixin static_nafcu {

  .section_title {
    @include section_title;
  }

  hr {
    @include hr;
  }

  #hero {
    background: $soft-grey cbw_image('nafcu/nafcu-hero@x2.jpg') no-repeat center top;
    background-size: cover;

    header {
      @include clearfix;
      @include main_wrapper;
      position: relative;
      margin-bottom: 0;
      padding-top: rem-calc(40);
      padding-bottom: rem-calc(30);
      text-align: center;

      @media #{$medium-query} {
        min-height: rem-calc(440);
        padding-top: rem-calc(80);
        text-align: left;
      }

      img {
        display: none;

        @media #{$large-query} {
          display: inline-block;
          float: right;
          width: rem-calc(250);
        }
      }

      h1 {
        color: $charcoal;
        font-size: rem-calc(28);
        font-weight: 300;
        line-height: 1.1;
        margin-bottom: rem-calc(40);

        @media #{$smedium-query} {
          font-size: rem-calc(40);
          margin-top: rem-calc(40);
        }
      }

      h2 {
        color: $charcoal;
        font-size: rem-calc(16);
        font-weight: 300;
        line-height: 1.2;
        margin: 0 0 rem-calc(20) 0;
        padding-left: 0;

        @media #{$smedium-query} {
          font-size: rem-calc(24);
          width: 80%;
        }
        @media #{$large-query} {
          font-size: rem-calc(24);
          width: 60%;
        }
      }

      a {
        @include cbanc_button($size:large);
        padding-left: rem-calc(80);
        padding-right: rem-calc(80);
      }
    }
  }

  .story {
    @include grid-row;
    padding: rem-calc(30) 0;

    .quote {
      @include grid-column(12);

      @media #{$medium-query} {
        @include grid-column(6);
      }

      .citation {
        @include grid-column(12);
        background-color: $soft_grey;
        margin-bottom: rem-calc(20);
        padding: rem-calc(20);
        position: relative;

        @media #{$medium-query} {
          @include grid-column(10);
        }

        &:after {
          bottom: 100%;
          left: 5%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(245, 245, 245, 0);
          border-bottom-color: $soft_grey;
          border-width: 10px;
          margin-left: rem-calc(15);
        }

        img {
          float: left;
          border-radius: 100%;
          width: rem-calc(50);
          margin-right: rem-calc(20);
          height: auto;
        }

        p {
          margin: 0;
        }
      }
    }

    .lead {
      @include grid-column(12);

      @media #{$medium-query} {
        @include grid-column(6);
      }

      a {
        @include cbanc_button($color:cbanc);
        display: block;
        margin-bottom: 0;
        margin-top: rem-calc(40);

        @media #{$medium-query} {
          float: right;
          display: inline-block;
        }
      }
    }
  }

  #join {
    @include grid-row;
    padding: rem-calc(40) 0;
    text-align: center;

    a {
      @include cbanc_button($size:large);
      padding-left: rem-calc(80);
      padding-right: rem-calc(80);
      margin: 0;
    }
  }
}
