@import './mixins';

@mixin static_reputation {

  .main_wrapper {
    padding: rem-calc(40) 0;
  }

  article {
    @include main_content;

    h2 {
      font-size: rem-calc(24);
      margin-top: rem-calc(40);
    }

    a {
      &.upload_doc {
        @include cbanc_button($color:cta, $icon:files-o, $icon-pos:before, $ghost:true);
        width: 100%;
        @media #{$smedium-query} {
          width: auto;
        }
      }

      &.answer_question {
        @include cbanc_button($color:cta, $icon:comment, $icon-pos:before, $ghost:true);
        width: 100%;
        @media #{$smedium-query} {
          width: auto;
        }
      }

      margin-right: rem-calc(30);

      @media #{$medium-query} {
        padding-left: rem-calc(80);
        padding-right: rem-calc(80);
        margin-right: rem-calc(30);
      }
    }
  }

  aside {
    @include side_content;

    h4 {
      margin-top: 0;
    }
  }
}

@mixin static_reputation_leaderboard {
  
  article {
    @include main_content;

    .leaderboard_list {
      list-style: none;
      margin: 0 0 5rem 0;
      padding: 0;
      border: 1px solid $light_grey;
      display: table;
      width: 100%;

      thead {
        background-color: $steel;

        th {
          font-weight: 300;
          display: inline-block;
          color: white;
          padding: .25rem;

          &.place {
            text-align: center;
            
            @media #{$medium-query} {
              width: 2rem;
            }            
          }

          &.signature {

            @media #{$medium-query} {
              width: 30rem;
            }
          }          
        }        
      }

      tbody {
        display: block;
        width: 100%;

        tr {
          background-color: white;
          border-bottom: 1px solid $soft_grey;
          display: block;
          width: 100%;
          padding: .5rem 0 1.5rem 0.5rem;

          .signature {
            @include signature();
            display: inline-block;
            padding-left: 1rem;
          }

          &:nth-child(even) {
            background-color: $light_grey;
          }

          td {
            display: block;

            @media #{$medium-query} {
              display: inline-block;
            }            

            &.place {

              @media #{$medium-query} {
                width: 2rem;
              }
            }

            &.signature {

              a {
                margin-left: 2rem;
              }

              @media #{$medium-query} {
                width: 30rem;
              }
            }

            &.rep_score {
              font-weight: 200;
              font-size: .8rem;

              @media #{$medium-query} {
                
              }
            }
          }
        }        
      }

      
    }
  }

  aside {
    @include side_content;
  }
}
