@import './mixins';
@import 'ui_forms/scss/mixins';

@mixin stonecastle_hero {
  background: $soft-grey cbw_image('stonecastle/stonecastle-hero@x2.png') no-repeat center top;
  background-size: cover;

  header {
    @include clearfix;
    @include main_wrapper;
    position: relative;
    margin-bottom: 0;
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(30);
    text-align: center;

    @media #{$medium-query} {
      min-height: rem-calc(440);
      padding-top: rem-calc(110);
      text-align: left;
    }

    img {
      width: rem-calc(250);
    }

    h1 {
      color: $charcoal;
      font-size: rem-calc(28);
      font-weight: 300;
      line-height: 1.1;
      margin-bottom: rem-calc(20);

      @media #{$smedium-query} {
        font-size: rem-calc(40);
      }
    }

    h2 {
      color: $charcoal;
      font-size: rem-calc(16);
      font-weight: 300;
      line-height: 1.2;
      margin: 0 0 rem-calc(20) 0;
      padding-left: 0;

      @media #{$smedium-query} {
        font-size: rem-calc(24);
        width: 80%;
      }
      @media #{$large-query} {
        font-size: rem-calc(24);
        width: 60%;
      }
    }

    .promotion {
      color: $steel;
      font-size: rem-calc(13);
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: rem-calc(20);
      display: block;

      @media #{$medium-query} {
        float:right;
      }
    }
  }
}

@mixin static_stonecastle {
  @include cbanc_form;

  #hero {
    @include stonecastle_hero;
  }

  .wrapper {
    @include main_wrapper;
  }

  .section_title {
    @include section_title;
  }

  hr {
    @include hr;
  }

  #help {
    padding: rem-calc(40) 0;

    .help {
      @include grid-column(12);

      @media #{$large-query} {
        @include grid-column(8);
      }
    }

    .download {
      @include grid-column(12);
      padding-top: rem-calc(15);
      padding-bottom: rem-calc(15);
      background-color: $soft_grey;

      @media #{$large-query} {
        @include grid-column(4);
      }

      h3 {
        margin-top: 0;
      }

      form {
        button {
          @include cbanc_button($full:true);
        }

        .disclaimer {
          font-style: italic;
        }
      }
    }
  }

  #partners {
    @include clearfix;
    padding: rem-calc(40) 0;
    white-space: nowrap;
    text-align: center;

    span {
      @include grid-column(2);
      vertical-align: middle;
      display: inline-block;
      float: none;

      @media #{$medium-query} {
        @include grid-column(2);
        display: table-cell;
        float: none;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  #about_criteria {
    padding: rem-calc(10) 0 rem-calc(40);

    article {
      @include grid-column(12);

      @media #{$medium-query} {
        @include grid-column(6);
      }
    }
  }

  #talk {
    text-align: center;
    padding: rem-calc(30) 0 rem-calc(20);

    h2 {
      margin: 0 0 rem-calc(10);
    }

    p {
      margin-top: 0;
    }

    form {

      .field {
        @include grid-column(12);

        @media #{$medium-query} {
          @include grid-column(4);
        }

        padding-bottom: rem-calc(25);
      }

      button {
        @include cbanc_button($size:large);
        margin-top: 0;
        padding-left: rem-calc(80);
        padding-right: rem-calc(80);
      }
    }
  }
}
