@import './mixins';
@import './stonecastle';
@import 'ui_documents/scss/mixins';

@mixin static_stonecastle_thanks {

  .wrapper {
    @include main_wrapper;
  }

  .section_title {
    @include section_title;
    @media #{$smedium-query} {
      font-size: rem-calc(26);
    }
  }

  hr {
    @include hr;
  }

  #hero {
    @include stonecastle_hero;

    header {
      text-align: center;

      h1 {
        margin-top: rem-calc(50);
        margin-bottom: rem-calc(10);
      }

      p {
        margin-top: 0;
      }
    }
  }

  .doc_results {
    padding: rem-calc(40) 0;

    @media #{$smedium-query} {
      @include grid-row;
    }

    .card {
      @include document_card;

      h2 {
        font-size: rem-calc(18);
      }

      .signature {
        display: none;
      }

      @media #{$smedium-query} {
        @include grid-column(6);

        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }
  }

  .bottom_section {
    text-align: center;

    .button {
      @include cbanc_button($color: cbanc);
      margin: rem-calc(40) 0;
    }
  }
}
