@import './mixins';

@mixin static_support {

  hr {
    @include hr;
  }

  .top {
    @include grid-row;
    padding: 0 0 rem-calc(20);

    #contact {
      @include grid-column(12);

      h3 {
        display: inline;
      }

      a {
        @include cbanc_button;

        @media #{$large-query} {
          margin-left: rem-calc(5);
        }
      }

      @media #{$large-query} {
        @include grid-column(6);
      }
    }

    #faq {
      @include grid-column(12);

      a {
        @include cbanc_button($color:cbanc, $ghost:true);
      }

      @media #{$large-query} {
        @include grid-column(6);
      }
    }
  }

  #quote_cta {
    @include cbanc_quote
  }

  #location {
    @include main_wrapper;
    margin-bottom: rem-calc(40);

    .address {
      span {
        display: block;
      }
    }

    iframe {
      width: 100%;
      height: 20rem;
      border: 1px solid $soft_grey;
    }
  }
}
