@import './mixins';

@mixin static_vendor_solutions {

  #hero {
    background: $soft_grey cbw_image('poly-hero.jpg') no-repeat 0 0;
    background-size: cover;

    header {
      @include clearfix;
      @include main_wrapper;
      position: relative;
      margin-bottom: 0;
      text-align: center;

      @media #{$medium-query} {
        min-height: rem-calc(400);
        padding-top: rem-calc(20);
        text-align: left;
        overflow: hidden;
      }

      img {
        display: none;

        @media #{$large-query} {
          display: inline-block;
          float: right;
          width: rem-calc(640);
          height: auto;
        }
      }

      h1 {
        font-size: rem-calc(32);
        font-weight: 300;
        line-height: 1.1;
        margin-bottom: rem-calc(10);
        margin-top: rem-calc(70);
        width: 100%;
        color: $charcoal;
      }

      h2 {
        color: $charcoal;
        font-weight: 300;
        font-size: rem-calc(20);
        margin: 0 0 rem-calc(20) 0;
        padding-left: 0;
        line-height: 1.2;

        @media #{$medium-query} {
          font-size: rem-calc(24);
        }
      }

      a {
        @include cbanc_button($size:large);
        padding-left: rem-calc(80);
        padding-right: rem-calc(80);
      }
    }
  }

  #sections {

    article {
      @include content_section;
    }

    .claim {
      .feature_image {
        background-image: cbw_image('vs/claim-vp.jpg');
      }

      h2 {
        &:after {
          background: $vendor_management;
        }
      }
    }

    .compilance {
      .feature_image {
        background-image: cbw_image('vs/products.jpg');
      }

      h2 {
        &:after {
          background: $vendor_management;
        }
      }
    }

    .exposure {
      .feature_image {
        background-image: cbw_image('vs/gain-exposure.png');
        background-size: contain;
        background-position: center bottom;
      }

      h2 {
        &:after {
          background: $vendor_management;
        }
      }
    }
  }

  #testimonials {
    @include testimonials;
  }
}
