@import './mixins';

@mixin static_vendor_management {

  #hero {
    background: $soft_grey cbw_image('poly-hero.jpg') no-repeat 0 0;
    background-size: cover;

    header {
      @include clearfix;
      @include main_wrapper;
      position: relative;
      margin-bottom: 0;
      text-align: center;

      @media #{$medium-query} {
        min-height: rem-calc(400);
        padding-top: rem-calc(20);
        text-align: left;
        overflow: hidden;
      }

      img {
        display: none;

        @media #{$large-query} {
          display: inline-block;
          float: right;
          width: rem-calc(640);
          height: auto;
        }
      }

      h1 {
        font-size: rem-calc(32);
        font-weight: 300;
        line-height: 1.1;
        margin-bottom: rem-calc(10);
        margin-top: rem-calc(40);
        width: 100%;
        color: $charcoal;

        @media #{$medium-query} {
          margin-top: rem-calc(70);
        }
      }

      h2, h3 {
        color: $charcoal;
        font-weight: 300;
        font-size: rem-calc(20);
        margin: 0 0 rem-calc(20) 0;
        padding-left: 0;
        line-height: 1.2;


        @media #{$medium-query} {
          font-size: rem-calc(24);
        }
      }

      h3 {
        margin-top: rem-calc(50);
      }

      a {
        @include cbanc_button($size:large);
        padding-left: rem-calc(80);
        padding-right: rem-calc(80);
        margin-bottom: rem-calc(40);

        @media #{$medium-query} {
          margin-bottom: rem-calc(0);
        }
      }
    }
  }

  .banner {
    @include section_title;
    font-size: rem-calc(24);
  }

  #testimonials {
    @include testimonials;
  }

  #quote_cta {
    @include cbanc_quote;

    .signature {
      @media #{$medium-query} {
        @include grid-column(4.5);
        padding-left: 0;
        margin-right: rem-calc(20);
      }
    }

    .contact_btn {
      @include cbanc_button($color:cbanc, $ghost:true);
      margin-top: rem-calc(30);
      margin-bottom: 0;
      width: 100%;

      @media #{$medium-query} {
        margin: rem-calc(-4) 0 0 rem-calc(15);
        width: auto;
      }
    }
  }

  #sections {

    article {
      @include content_section;
    }

    .manage {
      .feature_image {
        background-image: cbw_image('vm/products.jpg');
      }

      h2 {
        &:after {
          background: $vendor_management;
        }
      }
    }

    .compilance {
      .feature_image {
        background-image: cbw_image('vm/vm.jpg');
      }

      h2 {
        &:after {
          background: $vendor_management;
        }
      }
    }
  }
}


@mixin static_vendor_management_sign_up {

  form {
    @include grid-column(12);
    @include cbanc_form;

    h2 {
      margin-top: 0;
    }
    .infusion-field {
      text-align:left;

      label {
        @include grid-row;
      }
    }
    .infusion-submit {
      text-align:center;
      input {
        @include cbanc_button($size:large);

        @media #{$small-only} {
          width: 95%;
        }
      }
    }

    @media #{$medium} {
      @include grid-column(6, collapse=true);
    }
  }

  img {
    @include grid-column(12);

    padding:2%;
    display:block;
    margin: 0 auto;

    @media #{$medium} {
      @include grid-column(6, collapse=true);
    }
  }

  h3 {
    text-align: center;
  }
}
