@import './mixins';

@mixin static_error {
  text-align: center;

  .wrapper {
    @include main_wrapper;
  }

  header {
    background-color: $cbanc;

    h1 {
      color: $white;
      font-size: rem-calc(80);
      line-height: 1;
      margin-bottom: rem-calc(10);
      margin-top: rem-calc(100);
    }

    h2 {
      color: $white;
      font-size: rem-calc(24);
      margin-bottom: rem-calc(120);
      line-height: 1.4;

      a {
        color: $white;
      }
    }
  }

  footer {

    p {
      margin-top: rem-calc(120);
      margin-bottom: rem-calc(120);
    }
  }

}
