@import 'scss/about';
@import 'scss/education';
@import 'scss/support';
@import 'scss/vendor_management';
@import 'scss/vendor_solutions';
@import 'scss/advertise';
@import 'scss/privacy_policy';
@import 'scss/nafcu';
@import 'scss/stonecastle';
@import 'scss/stonecastle_thanks';
@import 'scss/careers';
@import 'scss/reputation';
@import 'scss/terms_of_service';
@import 'scss/static_error';

@import 'ui_header/scss/mixins';
@import 'ui_footer/scss/mixins';
@import 'ui_breadcrumbs/scss/mixins';
@import 'ui_page/scss/mixins';

/** Component styles **/

body.static_about {
  @include body($full:true);
  @include static_about;
}

body.static_education {
  @include body($full:true);
  @include static_education;
}

body.static_support {
  @include body($full:true);
  @include static_support;
}

body.static_vendor_management {
  @include body($full:true);
  @include static_vendor_management;

  #header {
    @include core_indicator($vm-indicator);
  }
}

body.static_vendor_solutions {
  @include body($full:true);
  @include static_vendor_solutions;
}

body.static_terms_of_service {
  @include body;
  @include static_terms_of_service;
}

body.static_privacy_policy {
  @include body;
  @include static_privacy_policy;
}

body.static_advertise {
  @include body;
  @include static_advertise;
}

body.static_nafcu {
  @include body($full:true);
  @include static_nafcu;
}

body.static_stonecastle {
  @include body($full:true);
  @include static_stonecastle;
}

body.static_stonecastle_thanks {
  @include body($full:true);
  @include static_stonecastle_thanks;
}

body.static_careers {
  @include body;
  @include static_careers;
}

body.static_reputation {
  @include body;
  @include static_reputation;
}

body.static_reputation_leaderboard {
  @include body;
  @include static_reputation_leaderboard;
}

body.static_400 {
  @include body($full:true);
  @include static_error;
}

body.static_500 {
  @include body($full:true);
  @include static_error;
}

body.static_confirm {
  @include body;
}

/** General styles **/

#header {
  @include cbanc_header;
}

#footer {
  @include cbanc_footer;
}

#breadcrumbs {
  @include breadcrumbs;
}

#page_title {
  @include page_title;
}
